<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
<head>
    <title>Parcel display</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <style>
        /* Style buttons */
        .btn {
            background-color: DodgerBlue; /* Blue background */
            border: none; /* Remove borders */
            color: white; /* White text */
            padding: 12px 16px; /* Some padding */
            font-size: 16px; /* Set a font size */
            cursor: pointer; /* Mouse pointer on hover */
        }

        a {
            color: white;
            text-decoration: none;
            /* background-color: transparent; */
        }

       /* Darker background on mouse-over */
        a:hover {
            background-color: RoyalBlue;
            text-decoration: none;
        }

        /* Darker background on mouse-over */
        .btn:hover {
            background-color: RoyalBlue;
        }
    </style>

</head>
<body>

<div class="container">
    <h1>Parcels for customer <%= customer[0].custName %></h1>

    <table class="table table-striped" style="width:100%">
        <thead>
        <tr>

            <th scope="col">Parcel Ref</th>
            <th scope="col">Weight</th>
            <th scope="col">Destination Address</th>
            <th scope="col">Destination City</th>
        </tr>
        </thead>
        <tbody>
        <% parcels.forEach( (parcel) => { %>
        <tr>
            <td><%= parcel.parcelId %> </td>
            <td><%= parcel.weight %> kg </td>
            <td><%= parcel.locAddress %> </td>
            <td><%= parcel.city %> </td>
        </tr>
        <% }) %>
        </tbody>
    </table>

    <p>
        <a href="/customers"> Go Back to customer lists </a>
    </p>
</div>

</body>
</html>
