<!doctype html>

<html ng-app="angManParApp">
<head>
    <title>Manage parcels</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="/manageParcels.js"></script>
    <script src="/env.js"></script>
    <meta charset="UTF-8">

    <style>
        .no-data {
            display: none;
            text-align: center;
        }
    </style>
</head>
<body>
<h1>Parcel Management </h1>
<div ng-controller="ParcelHistoryController">

    <div class="form-group">
        <label for="exampleFormControlSelect2">Choose the parcel</label>
        <select class="form-control" id="parcel" ng-model="data.parcelId" ng-change="setParcel(data.parcelId)" required>
            <option value="">Select a parcel in order to view the history</option>
            <option ng-repeat="parcel in parcels" value="{{parcel.parcelId}}">Parcel Ref: {{ parcel.parcelId }} | Destination: {{  parcel.locAddress }}, {{ parcel.city }}</option>
        </select>
    </div>

    <div ng-if="data.parcelId != null">
        <h2>Parcel history</h2>
        <!--
            Add the history
        -->
        <p scope="col">Customer Name: {{ selectedParcel.custName }}</p>
        <p scope="col">Parcel Ref: {{ selectedParcel.parcelId }}</p>
        <p scope="col">Weight: {{ selectedParcel.weight }} g</p>
        <p scope="col">Destination: {{ selectedParcel.locAddress }}, {{ selectedParcel.city }}</p>
        <table class="table table-striped" style="width:100%">
            <thead>
            <tr>
                <th scope="col">Operation</th>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
                <th scope="col">Address</th>
                <th scope="col">City</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody class="searchable">
            <tr class="no-data">
                <td colspan="12">No operation available</td>
            </tr>
            <tr ng-repeat="operation in operationHistories">
                <td>{{ operation.operation }}</td>
                <td ng-bind=" operation.date | date:'dd/MM/yyyy'" >{{  operation.date }}</td>
                <td>{{ operation.time }}</td>
                <td>{{ operation.locAddress }}</td>
                <td>{{ operation.city }}</td>
                <td><button ng-if="$last" class="btn" ng-click="rollback(operation.parcelId, operation.locId)"><i class="fa fa-undo"></i> Rollback</button> </td>
            </tr>
            </tbody>
        </table>

        <br />
        <br />

        <h2>Add new operation to parcel <i>id: {{id}}</i></h2>
        <form class="form-group form-inline" ng-submit="newOperation()">
            <label class="ml-2 mb-2">Location</label>
            <select class="form-control ml-2 mb-2" ng-model="locId">
                <option value="">Select the location</option>
                <option ng-repeat="location in locations" value={{location.locId}}>{{location.locId}}) {{location.locAddress}}, {{location.city}}</option>
            </select>
            <label class="ml-2 mb-2">Date </label><input class="form-control ml-2 mb-2" type="date" ng-model="date"/>
            <label class="ml-2 mb-2">Time </label><input class="form-control ml-2 mb-2" type="time" ng-model="time"/>
            <label class="ml-2 mb-2">Operation</label>
            <select class="form-control ml-2 mb-2" ng-model="operation">
                <option value="">Select the operation</option>
                <option>boarding</option>
                <option>transfer</option>
                <option>delivering</option>
            </select>

            <input class="btn btn-primary ml-2 mb-2" type="submit"  value="Add" />
        </form>
    </div>

</div>
</body>
</html>

<script>
    $(document).ready(function () {
        (function ($) {
            $('#parcel').change(function () {
                var rex = new RegExp($(this).val(), 'i');
                $('.searchable tr').hide();

                $('.searchable tr').filter(function () {
                    return rex.test($(this).text());
                }).show();
                $('.no-data').hide();
                if($('.searchable tr:visible').length == 0)
                {
                    $('.no-data').show();
                }
            })
        }(jQuery));

    });
</script>